body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.name{
    color:orange;
}
section{
    display: flex; 
    margin-bottom: 150px;

}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 60%;
}
.button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image:linear-gradient(orange,tomato) ;
    padding: 10px 40px;
    border-radius: 5%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}