body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name{
    color:orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image:linear-gradient(orange,tomato) ;
    padding: 10px 40px;
    border-radius: 5%;
}